@import "tailwindcss";

@theme {
  --color-primary-fixed-dim: #b4cdb8;
  --color-inverse-primary: #b4cdb8;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #191c1c;
  --color-on-primary: #ffffff;
  --color-surface-dim: #d9dad9;
  --color-on-tertiary-container: #5095e7;
  --color-error: #ba1a1a;
  --color-on-primary-container: #819986;
  --color-surface-container: #edeeed;
  --color-inverse-surface: #2e3131;
  --color-on-primary-fixed: #0b2013;
  --color-primary-fixed: #d0e9d4;
  --color-on-tertiary-fixed: #001c39;
  --color-on-tertiary: #ffffff;
  --color-primary-container: #1b3022;
  --color-secondary: #3c692b;
  --color-on-error: #ffffff;
  --color-tertiary-fixed-dim: #a4c9ff;
  --color-background: #f9f9f8;
  --color-on-surface-variant: #434843;
  --color-surface: #f9f9f8;
  --color-on-primary-fixed-variant: #364c3c;
  --color-surface-variant: #e1e3e2;
  --color-secondary-fixed: #bdf1a3;
  --color-on-background: #191c1c;
  --color-on-secondary-fixed-variant: #255015;
  --color-inverse-on-surface: #f0f1f0;
  --color-on-secondary-container: #406d2f;
  --color-tertiary-fixed: #d4e3ff;
  --color-surface-container-low: #f3f4f3;
  --color-on-secondary-fixed: #052100;
  --color-surface-tint: #4d6453;
  --color-outline: #737973;
  --color-surface-container-highest: #e1e3e2;
  --color-secondary-fixed-dim: #a1d489;
  --color-on-error-container: #93000a;
  --color-tertiary-container: #002c54;
  --color-secondary-container: #baeea0;
  --color-on-secondary: #ffffff;
  --color-surface-bright: #f9f9f8;
  --color-on-tertiary-fixed-variant: #004883;
  --color-surface-container-high: #e7e8e7;
  --color-primary: #061b0e;
  --color-tertiary: #001731;
  --color-outline-variant: #c3c8c1;
  --color-error-container: #ffdad6;

  --radius-DEFAULT: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  --font-headline: var(--font-manrope);
  --font-body: var(--font-inter);
  --font-label: var(--font-inter);
}

@utility glass-panel {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(195, 200, 193, 0.15);
}

@utility tincture-shadow {
  box-shadow: 0 16px 32px rgba(25, 28, 28, 0.04);
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: var(--color-background);
  color: var(--color-on-surface);
}

h1, h2, h3, h4, h5, h6, .font-headline {
  font-family: var(--font-manrope), sans-serif;
  letter-spacing: -0.02em;
}
